*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
.nav-radious{
    border-radius: 64px;
}
.menu-cus ul li a{
    border: transparent;
}
.menu-cus ul li a:hover,
.menu-cus ul li a:active,
.menu-cus ul li a:visited,
.menu-cus ul li a:focus{
    border: transparent;
    background-color: #ffffff00;
    outline:none;
    outline-offset: 0px;
    color: #FFFFFF;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 22%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.bg-gradient{
    background-image: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);

}
.close-btn{
    border-radius: 8px;
    border: 1px solid #F85559;
    color: #F85559;
    font-size: 20px;
    font-weight: 800;
}
.fruit-box{
    border-radius: 8px;
    border: 1px solid rgba(18, 18, 18, 0.10);
    background: #FFF;
}
.hr-border {
    border-bottom: 1px solid #80808053;
    height: 3px;
    width: 12vw;
}
.team-border{
    border-bottom: 1px solid rgba(128, 128, 128, 0.517);
}
.hero-header {
    overflow: hidden; 
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(66, 62, 62, 0.8)), url("./images/banner1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 8px;
    }
/* Responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    .side-padding{
        padding-right: 7px;
        padding-left: 7px;
    }
    .bgnav{
        background-color: transparent!important;
        border: none!important;
        margin: 0px!important;
    }
    .text-logo{
        color: black!important;
    }
    .search{
        display: none!important;
    }
    .nav-pad {
    padding: 20px 0px!important;
    }
    .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 12%;
    left: 0%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}
.circle{
    min-height: 1rem;
    width: 2rem;
    height: 2rem;
}
.btn-shop{
    font-size: 14px!important;
    padding: 7px 10px!important;
    margin-top: 7px!important;
}
.custom-mb-20px{
    margin-bottom: 20px!important;
}
.custom-mt-20px{
    margin-top: 20px!important;
}
.deal-content{
    text-align: center;
}
.time>span{
    font-size: 18px!important;
}
.deal-content h2{
    font-size: 24px;
}

.team-border{
    width: 30%;
}
   
}